<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
      
      {% if page.title == "Robolithic" %}
        <!-- Display robot arm image only on the Home page -->
        <div class="robot-arm-image">
          <img src="/assets/images/robot-arm.png" alt="Robot Arm Illustration">
        </div>
      {% endif %}

      <nav>
        <ul>
          <li><a href="{{ '/index.md' | relative_url }}">Home</a></li>
          <li><a href="{{ '/services.md' | relative_url }}">Services</a></li>
          <li><a href="{{ '/contact.md' | relative_url }}">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <footer class="site-footer" role="contentinfo">
      <p>&copy; {{ site.title }}. All rights reserved.</p>
    </footer>
  </body>
</html>
